*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 80vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left,#right{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #0b0423;
}
.list{
    background: #e91e63;
    height: 60px;
    margin: 30px;
    padding-left: 90px;
    color: #fff;
    display:flex;
    align-items: center;
    cursor: grab;
}
.list:drag-over{
    background: '#f1f1f1';
    box-shadow :'2px 2px 1px 1px rgba(144, 144, 144, 0.39)';
    transform : 'rotate(-3deg) skew(5deg)';
}


.button-24 {
  background: #FF4742;
  margin-left:600px;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}